.jstb_img_submenu { width: 305px; }
.jstb_img_submenu button { margin: 0; cursor: pointer; height: 30px; }
.jstb_img_submenu button.full { width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.jstb_img_submenu button.thumbnail { width: 53px; font-size: 10px; }